---
import Badge from './Badge.astro';
import '../styles/CardProject.css';

interface Props {
	title: string;
	description: string;
	image: string;
	link: string;
	tags?: string[];
}

const { title, description, image, link = '', tags = [] }: Props = Astro.props;
---

<div class='project-card'>
	<img
		class='rounded-t-lg w-full h-80 sm:h-48 object-cover'
		src={image}
		alt={title}
	/>
	<div class='content-card'>
		<h5 class='mb-2 text-xl font-bold tracking-tight'>{title}</h5>
		<p class='mb-3 text-sm font-normal'>{description}</p>
		{
			link && (
				<a
					href={link}
					class='block w-full mx-0 sm:inline-flex sm:w-auto sm:mx-auto items-center px-3 py-2 text-sm font-medium text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 m-4'>
					Visit website
				</a>
			)
		}
		<div class='flex flex-wrap gap-1 mb-3'>
			{tags.map((tag: string) => <Badge class='red'>{tag}</Badge>)}
		</div>
	</div>
</div>



